
.tou{
	width: 2000px;
	height: 700px;
	margin: 0 auto;
}
.zi {
	color: aliceblue;
	text-align: center;
	font-size: 70px;
	margin-top:-6600px;
}
.zii{
	color: paleturquoise;
	text-align: center;
	font-size: 40px;
}
.luo{
	width: 400px;
	height: 700px;
	background-color: bisque;
	color: darkgreen;
	text-align: center;
	font-size: 25px;
	padding-top: 10px;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 90px;
}
.yang{
	padding-left: 300px;
	font-size: 30px;
}
.wenzi{
	margin-top: -550px;
	margin-left: 550px;
	font-size: 25px;
}
.tu{
	width: 400px;
	height: 600px;
	margin-top: -440px;
	margin-left: 1200px;
}
.long{
	text-align: center;
	font-size: 70px;
	background-color: bisque;
	color: darkgreen;
}
.long h1 img{
margin-left: -1350px;
}
.shi{
	font-size: 60px;
	text-align: center;
	margin-top: -800px;
	margin-left: -550px;
}
.jie{
margin-left: 1100px;
	font-size: 25px;
	margin-top: -60px;
}
.di{
	font-size: 60px;
	text-align: center;
	margin-top: -90px;
	margin-left: 10px;
}
.huan{
	margin-left: 1100px;
	font-size: 25px;
	margin-top: -60px;
}
.li{
	text-align: center;
	color: darkgreen;
	margin-right: 1700px;
	font-size: 25px;
	margin-top: 270px;
}
.ming{
	font-size: 60px;
	text-align: center;
	margin-top: -70px;
	margin-left: 10px;
}
.cheng{
	margin-left: 1100px;
	font-size: 25px;
	margin-top: -60px;
}
.pian{
	text-align: center;
	margin-top: 150px;
	font-size: 70px;
	background-color: bisque;
	color: darkgreen;
}
.er{
	margin-left: -1400px;
	margin-top: -419px;
}
.san{
	margin-left: 1400px;
	margin-top: -419px;
}
.si{
	margin-left: -1400px;
	margin-top: 100px;
}
.wu{
	margin-left: 0px;
	margin-top: -419px;
}
.liu{
	margin-left: 1400px;
	margin-top: -419px;
}
.ping{
	text-align: center;
	margin-top:-40px;
	font-size: 70px;
	background-color: bisque;
	color: darkgreen;
}