
.tou{
	width: 2000px;
	height: 700px;
	margin: 0 auto;
}
.q{
	color:aliceblue;
	text-align: center;
	font-size: 70px;
	margin-top: -500px;
}
.w{
	color: aliceblue;
	text-align: center;
	font-size: 40px;
}
.deng{
	width: 400px;
	height: 700px;
	background-color:rgb(248,173,30);
	color:red;
	text-align: center;
	font-size: 25px;
	padding-top: 10px;
	margin: 0 auto;
	margin-top: 90px;
	margin-left: 90px;
}
.feng{
	padding-left: 300px;
	font-size: 30px;
}
.e{
	text-align: center;
	color: red;
	margin-right: 300px;
	font-size: 25px;
	margin-top: -250px;
}
.r{
	margin-top: -550px;
	margin-left: 550px;
	font-size: 25px;
}
.t{
	width: 400px;
	height: 600px;
	margin-top: -370px;
	margin-left: 1200px;
}
.y{
	text-align: center;
	font-size: 70px;
	background-color: rgb(248,173,30);
	color: red;
}
.y h1 img{
margin-left: -1350px;
}
.u{
	color: black;
	font-size: 60px;
	text-align: center;
	margin-top: -800px;
	margin-left: -550px;
}
.i{
	margin-left: 1100px;
	font-size: 25px;
	margin-top: -60px;
}
.p{
	margin-left: 1100px;
	font-size: 25px;
	margin-top: -60px;
}
.o{
	margin-left: 1100px;
	font-size: 25px;
	margin-top: -70px;
}
.qw{
	margin-top: -30px;
}
.pian{
	text-align: center;
	font-size: 70px;
	background-color: rgb(248,173,30);
	color: red;
}.er{
	margin-left: -1400px;
	margin-top: -419px;
}
.san{
	margin-left: 1400px;
	margin-top: -419px;
}
.si{
	margin-left: -1400px;
	margin-top: 100px;
}
.wu{
	margin-left: 0px;
	margin-top: -419px;
}
.liu{
	margin-left: 1400px;
	margin-top: -419px;
}
.v{
	text-align: center;
	font-size: 70px;
	background-color: rgb(248,173,30);
	color: red;
}
